.loginContainer{
   margin: 4% auto;
    width: 35%;
    border-radius: 15px;
}

.logoCon{
    height: 100px;
}

.logo{
    width: 35%;
    margin-left: 33%;
}

.form-container{
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-login{
    background-color: green;
    width: 100%;
    margin-top: 15%;
}

.form-label{
    font-weight: 500;
    font-size: 17px;
}

.form-check-label{
    display: flex;
    justify-content: space-between;
}