<nav class="navbar navbar-light shadow-sm py-2">
  <div class="container">
    <a class="navbar-brand logoCon" routerLink='/main' > <i class="bi bi-arrow-left"></i> MÜHASİBATLIQ </a>

    <div class="userIconCon">
      <i class="fa fa-bell mt-3"></i>
      <div class="userNameCon">
        <span class="userNammeSpan">Lorem Ipsum</span>
        <button class="btn ms-2" type="submit">
          <div class="btn userIconBtn">
            <i class="fa fa-user-o "></i>
          </div>
  
          <i class="fas fa-angle-down ms-2"></i>
        </button>

      </div>
    </div>

  </div>
</nav>
