<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand logoCon" href="#"> <img [src]="logoUrl" alt="" class="logo"> </a>

    <div class="userIconCon">
      <i class="fa fa-bell mt-3"></i>
      <div class="userNameCon">
        <span class="userNammeSpan">Lorem Ipsum</span>
        <button class="btn ms-2" type="submit">
          <div class="btn userIconBtn"> 
            <i class="fa fa-user-o "></i>
          </div>
          <i class="fas fa-angle-down ms-2"></i>
        </button>
        
      </div>
    </div>

  </div>
</nav>
