.navbar{
    margin: 0;
    padding: 0;
}

.logoCon{
    width: 25%;
    padding: 0;
}

.logo{
    width: 40%;
    margin-left: 2%;
}
 
.userIconCon{ 
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.userNameCon{
    width: 78%;
}

.userIconBtn{
    font-size: 15px;
    background-color: rgb(3, 112, 3);
    color: #fff;
    border-radius: 50%; 
}

.fa-angle-down{
    color: rgb(49, 49, 49);
    font-size: 15px;
}

.fa-bell{
    font-size: 20px;
    color: rgb(90, 90, 90);
}

.userNammeSpan{
    color: rgb(49, 49, 49);
    font-weight: 600;
    font-size: 17px;
}